VITE_FIREBASE_API_KEY=AIzaSyCb1MpWHOXvuXs2Jm6mNQiCK2ljCSPAiv8
VITE_FIREBASE_AUTH_DOMAIN=vivalynx-tasks.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vivalynx-tasks
VITE_FIREBASE_STORAGE_BUCKET=vivalynx-tasks.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=499808373167
VITE_FIREBASE_APP_ID=1:499808373167:web:0a174bab81e6479729075a
