FIRESTORE_TARGET=emulator
FIREBASE_PROJECT_ID=replace-me
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
SEED_DUMP_PATH=data-snapshots/task-snapshot.json
APP_ROOT_DIR=../facilitation-app
FIREBASE_CONFIG_PATH=../facilitation-app/firebase.json
